/* global.css */
.about-page {
  background-color: #007BFF;
  margin: 0;
  padding: 0;
}

.about-container {
  max-width: 806px;
  margin-left: 60px;
  padding: 10px;
  margin-bottom: 110px;
  
  
  
}

.about-container h2 {
  text-align: left;
  margin-bottom: 20px;
}

.about-container p {
  line-height: 1.6;
  text-align: left;
  font-size: 30px;
}
