.footer {
  background-color: #D9D9D9;
  color: #1E1E1E;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: 14px;
}

.footer-text p {
  margin: 0;
}

.social-icons a {
  color: #000;
  font-size: 24px;
  text-decoration: none;
  margin-right: 10px;
  background-color: #fff;
  padding: 8px;
  width: 30px;
height: 30px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  .social-icons {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social-icons a {
    margin-right: 10px;
  }
}
