/* Footer.css */

.footer {
  background-color: #D9D9D9;
  color: #1E1E1E;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  font-size: 14px;
}

.footer-left p {
  color: #1E1E1E;
text-align: center;
font-family: Satoshi;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.footer-center p, .footer-mid-center p{
  color: #1E1E1E;
text-align: center;
font-family: Satoshi;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.footer-center a, .footer-mid-center a{
  text-decoration: none;
  color: #1E1E1E;
}

.footer-left a {
  color: #1E1E1E;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold; /* Add this to make the link bold */
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-right a {
  color: #1E1E1E;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold; /* Add this to make the link bold */
}

.social-icons a {
  color: #000;
  font-size: 24px;
  text-decoration: none;
  margin-right: 10px;
  background-color: #fff;
  padding: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  .footer-right {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer-right a {
    margin-right: 10px;
  }
}
