.header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  background-color: transparent;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.menu-item {
  margin: 5px 10px;
  font-family: Satoshi;
  font-size: 20px;
  
  line-height: normal;
  color: #111111;
  padding: 10px 20px;
}

/* .menu-item:first-child {
  margin-left: 0;
} */

a{
  text-decoration: none;
  color: #111111;
}


.menu-item a:hover , .menu-item a:active {
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px 10px;
  font-family: Satoshi;
  font-size: 20px;
  
  
}

.right {
  display: flex;
  align-items: center;
}

.stdnt-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #D9D9D9;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.stdnt-btn:hover {
  background-color: #0056b3;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.side_btn {
  display: block;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
    height: max-content;
  }

  .menu {
    display: none;
  }

  .menu.open {
    position: relative;
    display: block;
    margin-top: 3em;
  }

  .menu-list {
    flex-direction: column;

  }

  .menu-item {
    margin: 10px 0;

  }

  .menu-toggle {
    height: 100%;
    display: block;
    transform: translateY(40%);
  }

  .right {
    align-items: flex-end;
  }
}