
/* *{
  border: 1px solid white;
} */

.header {
  background-color: #222;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.logo img {
  height: 40px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  margin-left: 20px;
}

.menu-item:first-child {
  margin-left: 0;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.menu-item a:hover {
  color: #3498db;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: flex-start;
}

.logo img {
  height: 60px;
  background-color: transparent;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

.side_btn {
  display: block;
  font-size: 1.5rem;
  /* width: 20px; */
  /* height: 2px; */
  /* background-color: #fff; */
  /* margin-bottom: 4px; */
}

@media (max-width: 768px) {
  .header {
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 10px;
    height: max-content;
  }

  .menu {
    display: none;
  }

  .menu.open {
    position: relative;
    display: block;
    margin-top: 3em;
    /* flex-direction: column; */
  }

  .menu-list {
    flex-direction: column;
  }

  .menu-item {
    margin: 10px 0;
  }

  .menu-toggle {
    height: 100%;
    display: block;
    transform: translateY(40%);
    /* margin-bottom: 10px; */
  }
}
